scikit-learn
matplotlib
pandas
jupyter
torch
tqdm
opencv-python
tensorboard
pillow
numpy
optuna
optuna-integration
statsmodels
seaborn
wandb
torchvision
ray[tune,rllib]
tokenizers
# --- Reinforcement Learning ---
stable-baselines3[extra]
sb3-contrib
gymnasium[classic-control]
pygame
pettingzoo
supersuit
shimmy
tinyscaler
moviepy
ale-py
flappy-bird-gymnasium==0.4.0
minigrid
highway-env